Data/Scripts/Scripts/.idea/

Data/Scripts/Scripts/.vs/

Data/Scripts/Scripts/obj/

Data/Scripts/Scripts/.vs/**
Data/Scripts/Scripts/bin/

Data/Trash/**
GameBinaries/

Data/Scripts/Scripts/obj/**

Data/Scripts/Scripts/Specials/Garage/obj/
Data/Trash/
CompileCheck.bat
.wtignore
metadata.mod
modinfo.sbmi
Setup (run before opening solution).bat
SymLinkInfo.png
test_modinfo.sbmi
ToLocalFolders.bat
ToWorkshop.bat

Data/Scripts/Scripts/Scripts.csproj
